# PYTHON
__pycache__/
*.py[cod]
*$py.class
*.so

# TESTS / COVERAGE
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# BUILD / DISTRIBUTION
build/
dist/
*.egg-info/
.eggs/

# VIRTUAL ENVIRONMENTS
venv/
env/
ENV/
.venv/

# ENV VARIABLES
.env
.env.*
*.env

# DATABASE
*.db
*.sqlite3


# IDEs / EDITORS

# VSCode
.vscode/



# OS FILES
.DS_Store
Thumbs.db

# LOGS
*.log

# FASTAPI / UVICORN
*.pid
*.reload

# CACHE
.cache/

# SECRET FILES
secrets.json
credentials.json

# OPTIONAL (DATA / ML FUTURE)
data/
models/
notebooks/

# TEMP FILES
*.tmp
*.bak